<nav class="navbar navbar-default"> {{!-- "navbar-fixed-top" --}}
    <div class="container-fluid">
        <div class="navbar-header">
            <h1>homeward</h1> {{#if user }}
            <pre>
            <li>{{user.fb.firstName}}</li>
            </pre>
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <a href="/auth/facebook">Login with Facebook</a> {{/if}}
        </div>
    </div>
</nav>