<nav class="navbar col-md-12"> {{!-- "navbar-fixed-top" --}}
    <div class="container-fluid">

    {{#if user }}
         <h1 class="hero"><a href="/dashboard">homeward</a></h1>
        <div class="navbar-info">
            <div class="user-name">
                <a href="/users/{{user._id}}">{{user.firstName}}</a>
            </div>
            <a href="/logout">Logout</a>
     {{else}}
             <h1 class="hero">homeward</h1>
            <p class="logout"><a href="/auth/facebook">Login with Facebook</a></p> {{/if}}

        </div>

    </div>
</nav>
