<nav class="navbar navbar-default"> {{!-- "navbar-fixed-top" --}}
    <div class="container-fluid">
      <div class="navbar-header"
          <h1><a href="/dashboard">homeward</a></h1>
          {{#if user }}
          <pre>
          {{user.fb.firstName}}
          </pre>
          <a href="/logout">Logout</a>
          {{else}}
          <h1>homeward</h1>
          <a href="/auth/facebook">Login with Facebook</a> {{/if}}
      </div>
    </div>
</nav>
