<h1 class="splashDisplay col-sm-9 col-md-9 col-lg-9">welcome home</h1>



<div class="col-sm-10 col-md-10 col-lg-10">
    <h2 class="splashBody">our mission</h2>
    <div class="splashCaption">Homeward is an application designed for connecting lost dogs with their significant others. Our application is a venue for reporting lost, sighted, and found dogs. We believe that dogs are humanities best friend, and any dog we can save makes the world a better place</div>

</div>
