<h1 class="splashDisplay col-sm-9 col-md-9 col-lg-9">welcome home</h1>



<div class="col-sm-10 col-md-10 col-lg-10">
    <h2 class="splashBody">our mission</h2>
    <div class="splashCaption">Homeward is an application designed for reuniting lost dogs with their owners. Our application is a venue for reporting lost, sighted, and found dogs. We believe that dogs are part of the family and we want to make sure they are always homeward bound.</div>


</div>
