
<h1 class="splashDisplay col-sm-12 col-md-12 col-lg-12">welcome home</h1>



<div class="col-sm-12 col-md-12 col-lg-12">
    <h2 class="splashBody">our mission</h2>
    <div class="splashCaption">Homeward is an application designed for reuniting lost dogs with their owners. Our application is a venue for reporting lost, sighted, and found dogs. We believe that dogs are part of the family and we want to make sure they are always homeward bound.</div>


</div>

