<!doctype html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  </head>
  <body>
    <div id="dog">

    </div>
    <h1>Homeward</h1>
    {{#if user }}
    <pre>
      <li>{{user.fb.firstName}}</li>
    </pre>
    <li><a href="/logout">Logout</a></li>
    {{else}}
    <a href="/auth/facebook">Login with Facebook</a>
    {{/if}}
    <form id="new-dog-form" class="form" onsubmit="homeward.createDog(event)">
      <input type="text" name="name" placeholder="name">
      <input type="submit" Save></input>
    </form>
    <script type="text/javascript">
      dog.renderDogs({{{dogs}}});
    </script>
  </body>
</html>
