        * {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 1.3em;
        }



        .navbar {
            background: url("/images/puppy.png") no-repeat right;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            padding-left: 1em;
            color: #FFF9EA;
        }

        .navbar-info {
            text-align: right;
            padding-right: 1em;
            padding-top: 0em;
        }

        .logout {
            text-align: right;
            padding-right: 0;
        }

        .user-name {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 2em;
        }

        .hero {
            font-weight: 300;
            font-size: 7em;
            padding: .1em;
        }

        .dog-name {
            font-weight: 300;
            font-size: .8em;
            padding-left: 0em;
            margin-left: 0em;
        }

        .col-centered {
            float: 0;
        }

        .data {
            max-width: 333.333px;
            position: right;
            margin-left: 365px;
            text-align: left;
            display: inline-block;
        }

        img {
            min-width: 333.333px;
            max-width: 334px;
            overflow-y: hidden;
            overflow-x: hidden;
            display: inline-block;
            position: absolute;
            top: center;
            border: 2px solid #aaaaaa;
            margin: .3em;
        }

        .bold {
            font-weight: 600;
            font-size: 1.15em;
        }

        .index {
            max-height: 333.33px;
        }

        .row {
            height: 333.33px;
            width: 90%;
            border: 2px solid #aaaaaa;
            overflow-y: hidden;
            padding: .1em;
            margin: .7em;
            position: relative;
        }




/*Edit*/

#updating {

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/*.dogModal {
    width: 468px;
}


.modal-content {
    position: relative;
}*/

.move{
    float: left;  
}


.form-horizontal .form-group {
    margin-right: 49%;
    margin-left: -75%;
}

.form-control {

    width: 260%;
}



/*breaks @ 995*/























        .radio {
          font-size: 15px;
        }
