.hover{
     text-decoration: none !important;
    text-decoration-line: none !important;
}
* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.23em;
	border-radius: 0 !important;
}

.navbar {
    background: url("/images/puppy.png") no-repeat right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    padding-left: 0em;
    color: #FFF9EA;
}
#hero {
    color: #FFF9EA;
    font-weight: 300;
    font-size: 6em;
    padding: .1em;
    border: none;
}


#hero:hover {
    backface-visibility: visible;
    pointer-events: visibleStroke;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-shadow: 0 0 .07em #FFF9EA;
    text-decoration-line: none;
    border: none;
    color: #FFF9EA;
    
}

.homeButton {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #FFF9EA;
    text-decoration:inherit;
    cursor: default;
}
.navbar-info {
    color:  #FFF9EA;
    text-align: right;
    width:100%;
    padding-right: 0em;
    padding-top: 0em;
    align-items: baseline;
}
.logout {
    text-align: right;
    
    width 100%;
    margin: 0em;
    margin-top: -.3em;
    margin-bottom: .4em;
    padding: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
}

.user-name {
    font-family: 'Quicksand', sans-serif;
    color: #FFF9EA;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 1.23em;
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
    margin-top: -1.1em;
    margin-bottom: -2.3em;
}

.heron {
    color: #FFF9EA;
    font-weight: 300;
    font-size: 6em;
    padding: .1em;
}

.dog-name {
    font-weight: 500;
    font-size: .666em;
    padding-left: 0em;
    margin-left: 0em;
}

.col-centered {
    float: 0;
}

.data {
    max-width: 400px;
    position: right;
    margin-left: 385px;
    text-align: left;
    display: inline-block;
}

img {
    min-width: 333.333px;
    max-width: 334px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
    position: absolute;
    top: center;
    border: 2px solid #aAaAFf;
    margin: .4em;
}

.bold {
    font-weight: 600;
    font-size: 1.25em;
}

.index {
    max-height: 333.33px;
}

.row {
    height: 333.33px;
    width: 90%;
    border: 2px solid #aAaAFf;
    overflow-y: hidden;
    padding: .1em;
    margin: .7em;
    position: relative;
}

.radio {
    font-size: 15px;
}

.addDog {
    margin-left: 2.3em;
    padding: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
}
.caption{
    margin-left: 52%;
}

a {
    color: inherit;
    text-decoration-line: none;
}
 a:hover{
     text-decoration: none !important;
    text-decoration-line: none !important;
}
