<h1>add a dog to homeward</h1>
<form method="POST" action="/dashboard">
      
    <div class="form-group col-md-4">
    <input name="lost"  class="form-control" placeholder="True or False" required='true'/>
  </div>
    <div class="form-group col-md-4">
    <input name="name" class="form-control" placeholder="Dog Name" required='true'/>
  </div>
  <div class="form-group col-md-4">
    <input name="breed"  class="form-control" placeholder="Dog Breed" required='true' />
  </div>
  <div class="form-group col-md-4">
    <input name="color"  class="form-control" placeholder="Color" required='true'/>
  </div>
  <div class="form-group col-md-4">
    <input name="age"  class="form-control" placeholder="Age" required='true'/>
  </div>
  <div class="form-group col-md-4">
    <input name="size"  class="form-control" placeholder="Small, medium, or large" required='true'/>
  </div>
   <div class="form-group col-md-4">
    <input name="location"  class="form-control" placeholder="Location" required='true'/>
  </div>
    <div class="form-group col-md-4">
    <input name="image"  class="form-control" placeholder="Image_url" required='true'/>
  </div>
  <div class="form-group col-md-4">
    <input name="reward"  class="form-control" placeholder="Reward" required='true'/>
  </div>
   <div class="form-group col-md-4">
    <input name="phoneNumber"  class="form-control" placeholder="Phone number" required='true'/>
  </div>
    <div class="form-group col-md-4">
    <input name="decription"  class="form-control" placeholder="Description" required='true'/>
  </div>
  
    
    <div class="form-group col-md-4">
    <input class="btn btn-primary col-md-12" type="submit" value="Add Dog" required='true' />
  </div>
</form>


